---
layout: page
collectionpage: posts
---

<h1>Posts</h1>

<ul>
{% for post in paginator.posts limit:5 %}
    <li><a href="{{site.url}}{{post.url}}">{{ post.title }}</a></li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | relative_url }}">« Prev</a>
	{% else %}
		<span>« Prev</span>
	{% endif %}<br/>
	{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
			<em>{{ page }}</em>
		{% elsif page == 1 %}
			<a href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">{{ page }}</a>
		{% else %}
			<a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | relative_url }}">Next »</a>
	{% else %}
		<span>Next »</span>
	{% endif %}
</div>
{% endif %}
