<div class="header-bg">
  <div class="container-full">
    <div class="header ">
      {% include nav.html %}
      <header class="container grid-xl landing-header" style="height:600px;">
        <div class="columns pt-12 pb-8">
          <div class="column col-11 col-mx-auto text-center">
            <h1 class="mt-2 super-h1">{{ site.header }}</h1>
            <h4 class="text-secondary">{{ site.subheader }}</h4>
          </div>
        </div>
	<img src="assets/lichtpult_export_svg.svg" style="width: 100%;position:relative;top: -30px;z-index:99;" />
      </header>
    </div>
  </div>
</div>
<div style="height:200px;"></div>
