name: Deploy Website with documentation

on:
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: install jekyll gems
        run: cd website && bundle install --path ./.gem
      - name: build jekyll
        run: make website
      - name: deploy website
        run: cd website/_site && sudo /home/deploy/deploy.bash * /
