name: Deploy Website with documentation

on:
  push:
    branches-ignore: 
      - main

jobs:
  build:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: install bundle
        run: cd website && bundle install --path ./.gem
      - name: build jekyll
        run: make website
